body{
  width: 100%;
  min-height: 100vh;
  font-size: 12px;
  
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='%2305261f' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%230a4b3e' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2310715e' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2315967d' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%231abc9c' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

footer{
  margin-top: 60px;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 1.2em;
}

.cardWrapper{
  margin: 0 15px;
}

.container > .columns{
  padding: 10vh 0;
}

@media screen and (max-width: 768px) {
  .container > .columns{
    padding-top: 30px;
  }

  .sidebar-wrapper{
    width: 100%;
  }

  .sidebar-facet{
    padding: 10vw;
  }

  .sidebar-facet.front{
    transform: none;
  }

  body{
    margin-bottom: 120px;
  }
}